.Cart__item {
  padding: 16px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.Cart ul img {
  width: 100px;
  margin-right: 16px;
}

.Cart__itemDesription {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}