.ProductDetail .ProductDetail__info {
  border: 1px solid #ccc;
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.ProductDetail__price {
  text-align: right;
  font-size: 1.5rem;
}

.ProductDetail__info select {
  margin-top: 16px;
  width: 100%;
  font-size: 20px;
  border: 1px solid #ccc;
}
