.OrderButton {
  width: 100%;
  border-radius: 8px;
  background-color: #1890ff;
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #40a9ff;
  padding: 10px;
}

.OrderButton:hover {
  cursor: pointer;
  background-color: #0050b3;
}
