.Product {
  width: 250px;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 8px;
}

.Product img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.Product .Product__info {
  display: flex;
  justify-content: space-between;
}
